{% extends "bank/base.html" %}

{% block content %}

<!-- styles for the html elements below -->

<style>
    .about-container {
        padding-top: 2rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin: auto;
    }

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fefefe;
        border-radius: 2%;
        margin: 2rem auto;
        min-height: 500px;
        min-width: 350px;
        width: 46%;
        overflow: hidden;
    }

    .about-img {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.5)), url(https://www.usffcu.com/files/usffcu21/1/banners/About-Us-Interior-Hero_1113.jpg);
        background-position: center;
        background-size: cover;
    }

    .about-text {
        padding-top: 2rem;
        margin:0 3rem;
        text-align: justify;
    }

    .footer-container{
        padding-top: 5rem;
        display: flex;
        justify-content: center;
        margin: auto;
    }

</style>

<!-- Masthead-->
<div class="masthead">
    <div class="about-container">
        <div class="item">
            <div class="about-img"></div>
        </div>
        <div class="item">
            <div class="about-text">
                <h3>About Us</h3>
                <br>
                <p>At USF Online Banking, we’re here to help the University of South Florida’s faculty,
                    staff, students, alumni association members and their families achieve financial success. The mighty
                    Bull, the University of South Florida’s mascot, is defined by strength, stability, power and
                    support. And these are the principles we’ve put into practice since 1959.</p>
                <p>With more than 70,000 members and $1+ billion in assets, robust online and mobile banking, nine
                    branch locations and thousands of shared branches and fee-free ATMs nationwide, we’re here when you
                    need us.</p>

            </div>
        </div>
    </div>
    <footer class="footer-container" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="home.html">Home</a></li>
          <li class="breadcrumb-item"><a href="login.html">Log in</a></li>
          <li class="breadcrumb-item"><a href="signup.html">Sign Up</a></li>
          <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
    </footer>
</div>

{% endblock content %}