{% extends "bank/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <h1> Creat New Bank Account </h1>
    <hr class="divider" />
    <br/>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                
                {{ form|crispy }}
            </fieldset>
            <br/>
            <div class="form-group">
                <button class="btn btn-outline-secondary" type="submit">Create new account</button>
            </div>
        </form>

    </div>

{% endblock content %}