{% extends "bank/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <h1> Reset Password </h1>
    <hr class="divider" />
    <br/>

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h5>Enter the email address associated with your account and we will send you directions to reset your password.</h3>
                {{ form|crispy }}
            </fieldset>
            <br/>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>


{% endblock content %}